@font-face {
    font-family: "DM Sans";
    src: url(../Fonts/DM_Sans/DMSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "DM Sans";
    src: url(../Fonts/DM_Sans/DMSans-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "DM Sans";
    src: url(../Fonts/DM_Sans/DMSans-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "DM Sans";
    src: url(../Fonts/DM_Sans/DMSans-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "DM Sans";
    src: url(../Fonts/DM_Sans/DMSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "DM Sans";
    src: url(../Fonts/DM_Sans/DMSans-RegularItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: Italic;
}

$primary-type: DM Sans;

.lowercase {
    text-transform: none !important;
}
.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: 700;
}
.underline {
    text-decoration: underline;
}
.secondary {
    color: $additional-2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-weight: 400;
    font-family: $primary-type;
    -webkit-font-smoothing: antialiased;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
    font-family: $primary-type;
    line-height: 1.05;
}

html {
    font-family: $primary-type;
}

// Convert the pixel amount to vw and then to rem
@mixin d-size($px) {
    font-size: calc(1rem * (($px / $desktop-screen * 100) / $desktop-base-font-size));
}
@mixin t-size($px) {
    @media screen and (max-width: $bp-lg) {
        font-size: calc(1rem * (($px / $tablet-screen * 100) / $tablet-base-font-size));
    }
}
@mixin m-size($px) {
    @media screen and (max-width: $bp-sm) {
        font-size: calc(1rem * (($px / $mobile-screen * 100) / $mobile-base-font-size));
    }
}

// HEADINGS

.h1 {
    @include d-size(62);
    @include t-size(37);
    @include m-size(37);
}

// PARAGRAPHS

p {
    font-weight: 400;
    line-height: 1.3;
    font-family: $primary-type;
    text-transform: uppercase;
}

.p-md {
    @include d-size(16);
    @include t-size(16);
    @include m-size(16);
}

// SPAN TAGS

span {
    font-weight: 500;
    font-family: $primary-type;
    text-transform: uppercase;
}

.span-md {
    @include d-size(16);
    @include t-size(16);
    @include m-size(16);
}
.span-sm {
    @include d-size(14);
    @include t-size(14);
    @include m-size(14);
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}