@use "@/assets/scss/base.scss" as *;

@font-face {
    font-family: "PP Mori";
    src: url(../Fonts/PP_Mori/PPMori-Semibold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "PP Mori";
    src: url(../Fonts/PP_Mori/PPMori-SemiboldItalic.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "PP Mori";
    src: url(../Fonts/PP_Mori/PPMori-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "PP Mori";
    src: url(../Fonts/PP_Mori/PPMori-MediumItalic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
}

.lowercase {
    text-transform: none !important;
}
.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: 700;
}
.medium {
    font-weight: 500;
}
.underline {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-weight: 700;
    font-family: $primary-type;
    -webkit-font-smoothing: antialiased;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700;
    font-family: $primary-type;
    line-height: 1.05;
}

html {
    font-family: $primary-type;
}

// HEADINGS

.h1 {
    letter-spacing: -0.02em;
    @include d-size(68);
    @include t-size(34);
    @include m-size(34);
}

.h2 {
    letter-spacing: -0.02em;
    @include d-size(48);
    @include t-size(24);
    @include m-size(24);
}

// PARAGRAPHS

p {
    font-weight: 700;
    line-height: 1.3;
    font-family: $primary-type;
}

.p-md {
    @include d-size(16);
    @include t-size(16);
    @include m-size(16);
}
.p-sm {
    @include d-size(14);
    @include t-size(14);
    @include m-size(14);
}

// SPAN TAGS

span {
    font-weight: 700;
    font-family: $primary-type;
    line-height: 1;
}

.span-md {
    @include d-size(16);
    @include t-size(16);
    @include m-size(16);
}
.span-sm {
    @include d-size(14);
    @include t-size(14);
    @include m-size(14);
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}