@use "@/assets/scss/base.scss" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body,
html {
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    text-size-adjust: none !important;
}

.pointer {
    cursor: pointer
}

.bg-default {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-d {
    @media screen and (min-width: $bp-md) {
        display: none;
    }
}
.hide-t {
    @include bp-lg {
        display: none;
    }
}
.hide-m {
    @include bp-sm {
        display: none;
    }
}

// COLOR CLASSES

//BG

.accent-bg { 
    background-color: $accent 
}
.dominant-bg {
    background-color: $dominant;
}
.primary-bg {
    background-color: $primary;
}
.ad-1-bg {
    background-color: $ad-1;
}
.ad-2-bg {
    background-color: $ad-2;
}
.ad-3-bg {
    background-color: $ad-3;
}

// COLOR

.accent {
    color: $accent;
}
.dominant {
    color: $dominant;
}
.primary {
    color: $primary;
}
.ad-1 {
    color: $ad-1;
}
.ad-2 {
    color: $ad-2;
}
.ad-3 {
    color: $ad-3;
}
.mix-blend {
    mix-blend-mode: difference;
}

// OPACITY

.ad-1-o {
    opacity: $ad-1-o;
}
.ad-2-o {
    opacity: $ad-2-o;
}
.ad-3-o {
    opacity: $ad-3-o;
}

//BORDERS

.border-full {
    border: 1px solid $border;
}
.border-vertical {
    border-width: 1px;

    border-top-color: $border;
    border-top-style: solid;

    border-bottom-color: $border;
    border-bottom-style: solid;
}
.border-horizontal {
    border-width: 1px;

    border-right-color: $border;
    border-right-style: solid;

    border-left-color: $border;
    border-left-style: solid;
}
.border-top {
    border-top-width: 1px;
    border-top-color: $border;
    border-top-style: solid;
}
.border-bottom {
    border-width: 1px;
    border-bottom-color: $border;
    border-bottom-style: solid;
}
.border-right {
    border-width: 1px;
    border-right-color: $border;
    border-right-style: solid;
}
.border-left {
    border-width: 1px;
    border-left-color: $border;
    border-left-style: solid;
}